.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main{
  display: flex;
  justify-content: left;
  background-color: rgba(39, 108, 131, 0.905);
  height: 40px;
  width: 100%;
  
}
.btn{
  height: 25px;
  width: 100px;
  margin-right: 50px;
  justify-content: left;
}
.btnmain{
  margin-top: 10px;
 margin-left: 40px;
 justify-content: left;
}
.mainlist{
  
  background-color: pink;
  list-style: none;
  

}
.list {
  padding: 15px;
  margin: 15px;
  background-color: wheat;
  justify-content: left;
  
  
}
.styleimg{
  height: 80px;
  width: 150px;
}
.showlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 20px;

}
.showdata{
  flex-basis: 23%;
  padding: 16px;
  text-align: center;
  

}
.showdata div{

  border: 2px solid pink;
  float: left;
  padding: 10px 10px;
  width: 100%;
}
.cart-container {
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 150px;
  height: 110px;
  margin-left: 800px;
  border-radius: 30px;

}
/* Styles for the Cart component */


.cart-items {
  margin-top: 10px;
}

.cart-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.item-name {
  font-size: 16px;
  margin: 0;
}

.total-price {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.circle-button {
  width: 70px; /* Set the desired width */
  height: 30px; /* Set the desired height */
  border-radius: 20%; /* Make the button circular */
  
  padding: 10px;
  margin: 10px;
  justify-content: center;
  
}
.alignhed{
  display: flex;
  justify-content: end;

}
.circle {
  width: 100px;
  height: 100px;
  background: red;
  border-radius: 50%
}
.maincarttable{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  height: 500px;
  
}
.carttable{
height: auto;
width: 64%;
border: solid rgb(207, 203, 203);  
background-color: papayawhip;

}